<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	
	<springProperty scope="context" name="springAppName" source="spring.application.name"/>
	<property name="LOG_FILE" value="${BUILD_FOLDER:-my-app-logs}/${springAppName}"/>​
	<property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
    
	<appender name="FILE-INSERT-STANDARD" class="ch.qos.logback.core.rolling.RollingFileAppender"> 	
	    <file>${LOG_FILE}.log</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
	        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	        	<maxFileSize>10MB</maxFileSize>
	        </timeBasedFileNamingAndTriggeringPolicy>
	        <maxHistory>30</maxHistory>
	    </rollingPolicy>
	</appender>
    
	<appender name="FILE-INSERT-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}-error.log</file>
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>ERROR</level>
	        <onMismatch>DENY</onMismatch>
	    </filter>     		    
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>${LOG_FILE}-error.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
	        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	        	<maxFileSize>10MB</maxFileSize>
	        </timeBasedFileNamingAndTriggeringPolicy>
	        <maxHistory>30</maxHistory>
	    </rollingPolicy>
	</appender>

   	<logger name="org.springframework" level="INFO" />
   	<logger name="org.apache.camel.component.telegram" level="DEBUG" />
	<logger name="org.apache.camel.component.cxf" level="INFO" />
	<logger name="org.apache.cxf" level="INFO" />
	<logger name="br.com.willianantunes" level="DEBUG" />
	    
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE-INSERT-STANDARD" />		
		<appender-ref ref="FILE-INSERT-ERROR" />		
	</root>    
</configuration>